#main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 6em;
}

body {
  text-align: center;
}

.fa-thermometer-three-quarters {
  font-size: 1.2em;
}

#light {
	border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 2em;
	height: 2em;
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
}
